.search-result__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 1232px;
    min-height: 46px;
    margin-top: 80px;
    border: 1px solid blue;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .search-result__header {
        margin-top: 32px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .search-result__header {
        margin-top: 0px;
        height: 34px;
    }
}