@import url('./search__input_text.css');
.search__input {
    position: relative;
    display: flex;
    width: 608px;
    height: 64px;
    background: #FFFFFF;
    /* simulator/gray/divider */
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 100px;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .search__input {
        flex-wrap: wrap;
        width: 288px;
    }
}