@import url('./__link/search-result__link.css');
@import url('./__title/search-result__title.css');
@import url('./__header/search-result__header.css');
@import url('./__cards/search-result__cards.css');
@import url('./__button/search-result__button.css');
@import url('./__text/search-result__text.css');
@import url('./__not-found/search-result__not-found.css');
@import url('./__container/search-result__container.css');
.search-result {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 1440px;
    /* min-height: 282px; */
    background-color: #F5F6F7;
    justify-content: center;
}