.search-result__button {
    position: relative;
    width: 288px;
    height: 64px;
    margin-top: 64px;
    background: #FFFFFF;
    border-radius: 80px;
    border: #FFFFFF;
}

.search-result__button:hover {
    cursor: pointer;
    background: #C0C0C0;
    cursor: pointer;
    box-shadow: 0 0 12px #C0C0C0;
    -moz-box-shadow: 0 0 12px #C0C0C0;
    -o-box-shadow: 0 0 12px #C0C0C0;
    -ms-box-shadow: 0 0 12px #C0C0C0;
    -webkit-box-shadow: 0 0 12px #C0C0C0;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .search-result__button {
        margin-top: 12px;
    }
}

@media screen and (min-width: 1366px) and (max-width: 1440px) {
    .search-result__button {
        margin-left: 50%;
        transform: translate(-100%, 0);
    }
}