@import url('./__column/analytics-diagram__column.css');
.analytics-diagram__columns {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    max-width: 1440px;
    height: 538px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
    .analytics-diagram__columns {
        margin-left: 0px;
        max-width: 284px;
        margin-top: 18px;
    }
}