    .swiper-button-prev {
        position: absolute;
        background-size: contain;
        min-width: 50px;
        min-height: 50px;
        left: 24px;
        top: 126px;
        border: 1px solid red;
        background-image: url('/src/image/slider_back.png');
    }