@import url('./swiper-button-prev.css');
@import url('./__swiper-slide/swiper-slide.css');
@import url('./swiper-button-next.css');
@import url('./swiper-pagination.css');
.swiper-container {
    display: block;
    position: relative;
    width: 1440px;
    min-height: 280px;
    margin-top: 0px;
    overflow: hidden;
    background: #F5F6F7;
}

.swiper-wrapper {
    position: relative;
    display: flex;
    ;
    width: 1440px;
    min-height: 280px;
    margin-top: 0px;
    background: #F5F6F7;
}