@import url('./__image/search-result__not-found__image.css');
@import url('./__title/search-result__not-found__title.css');
@import url('./__text/search-result__not-found__text.css');
.search-result__not-found {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    height: 214px;
    display: none;
}