.search__title {
    position: relative;
    max-width: 600px;
    margin: auto;
    text-align: left;
    font-family: robotoslab-regular, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .search__title {
        width: 90%;
        margin-right: 14px;
        font-size: 36px;
        line-height: 40px;
    }
}