@import url('./header__link_style-dark.css');
@import url('./header__link_style-white.css');
.header__link {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 189px;
    margin-right: 42px;
    margin-top: 30px;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .header__link {
        width: 47%;
        margin-right: 14px;
        margin-top: 16px;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .header__link {
        width: 25%;
    }
}