.header__link_style-white {
    position: relative;
    display: flex;
    align-items: flex-start;
    text-align: center;
    /* main/white */
    color: #B6BCBF;
}

.header__link_style-white:active {
    border-bottom: 3px solid #FFFFFF;
    color: #FFFFFF;
}

.header__link_style-white:hover {
    border-bottom: 3px solid #FFFFFF;
    color: #FFFFFF;
}

.link_active-white {
    border-bottom: 3px solid #FFFFFF;
    color: #FFFFFF;
}