@import url('./header__link_style-dark.css');
@import url('./header__link_style-white.css');
.header__link {
    position: relative;
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 189px;
    margin-right: 42px;
    padding-left: 0px;
    margin-top: 30px;
}

@media screen and (min-width: 320px) and (max-width: 567px) {
    .header__link {
        margin-right: 14px;
        margin-top: 16px;
        width: 148px;
    }
}


/* @media screen and (min-width: 587px) and (max-width: 768px) {
    .header__link {
        width: 33%;
    }
} */