@import url('__circle-preloader/preloader__circle-preloader.css');
@import url('./__text/preloader__text.css');
.preloader {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 280px;
    height: 122px;
    display: none;
}