.search-result__not-found__title {
    position: relative;
    max-width: 356px;
    height: 30px;
    margin-top: 24px;
    margin-bottom: 0px;
    font-family: robotoslab-regular, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    /* identical to box height, or 115% */
    text-align: center;
    /* main/black */
    color: #1A1B22;
}