@import url('./__axis/analytics-diagram__axis.css');
@import url('./__date/analytics-diagram__date.css');
@import url('./__name-axis/analytics-diagram__name-axis.css');
@import url('./__title/analytics-diagram__title.css');
@import url('./__vector/analytics-diagram__vector.css');
@import url('./__columns/analytics-diagram__columns.css');
.analytics-diagram {
    display: flex;
    flex-direction: column;
    /* display: block; */
    max-width: 1440px;
    background: #F5F6F7;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-right: 104px;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .analytics-diagram {
        flex-wrap: wrap;
        padding-top: 24px;
        padding-right: 16px;
        padding-bottom: 32px;
        padding-left: 16px;
        align-items: baseline;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .analytics-diagram {
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
        padding-right: 40px;
    }
}