@import url('./__title/search__title.css');
@import url('./__text/search__text.css');
@import url('./__form/search__form.css');
@import url('./__field/search__field.css');
@import url('./__input/search__input.css');
@import url('./__button/search__button.css');
.search {
    display: block;
    position: relative;
    justify-content: flex-start;
    max-width: 1440px;
    height: 536px;
    padding-top: 160px;
    background-image: url"<%=require('/src/image/header.png').default%>";
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .search {
        padding-top: 86px;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .search {
        height: 400px
    }
}