.swiper__email {
    position: relative;
    margin-top: 0px;
    margin-left: 104px;
    font-family: roboto-medium, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height, or 157% */
    /* main/black */
    color: #1A1B22;
    border: 1px solid green;
}