.search-result__cards {
    display: flex;
    position: relative;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1440px;
    min-height: 1566px;
    padding-top: 64px;
    padding-bottom: 64px;
    padding-left: 104px;
    padding-right: 104px;
    /* display: none; */
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .search-result__cards {
        padding-top: 32px;
        padding-bottom: 44px;
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .search-result__cards {
        padding: 40px;
        min-height: 654px;
    }
}