@import url('./__date/analytics-diagram__column__date.css');
@import url('./__value/analytics-diagram__column__value.css');
@import url('./__image/analytics-diagram__column__image-one.css');
@import url('./__image/analytics-diagram__column__image-two.css');
@import url('./__image/analytics-diagram__column__image-three.css');
@import url('./__image/analytics-diagram__column__image-four.css');
@import url('./__image/analytics-diagram__column__image-five.css');
@import url('./__image/analytics-diagram__column__image-six.css');
@import url('./__image/analytics-diagram__column__image-seven.css');
.analytics-diagram__column {
    display: flex;
    position: relative;
    max-width: 1440px;
    height: 24px;
    /* margin-right: 104px; */
    justify-content: baseline;
    align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .analytics-diagram__column {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .analytics-diagram__column {
        margin-left: 0px;
        margin-right: 0px;
    }
}