@import url('./__date/analytics-diagram__column__date.css');
@import url('./__value/analytics-diagram__column__value.css');
@import url('./__image/analytics-diagram__column__image-monday.css');
@import url('./__image/analytics-diagram__column__image-tuesday.css');
@import url('./__image/analytics-diagram__column__image-wednesday.css');
@import url('./__image/analytics-diagram__column__image-thursday.css');
@import url('./__image/analytics-diagram__column__image-friday.css');
@import url('./__image/analytics-diagram__column__image-saturday.css');
@import url('./__image/analytics-diagram__column__image-sunday.css');
.analytics-diagram__column {
    display: flex;
    position: relative;
    max-width: 1440px;
    height: 24px;
    /* margin-right: 104px; */
    justify-content: baseline;
    align-items: center;
    border: 1px solid orangered;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .analytics-diagram__column {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .analytics-diagram__column {
        margin-left: 0px;
        margin-right: 0px;
    }
}