@media screen and (min-width: 320px) and (max-width: 536px) {
    .analytics-diagram__column__image-monday {
        margin-left: 0px;
        position: relative;
        width: 47px;
        height: 24px;
    }
}