@import url('./column__image_monday.css');
@import url('./column__image_tuesday.css');
@import url('./column__image_wednesday.css');
@import url('./column__image_thursday.css');
@import url('./column__image_saturday.css');
@import url('./column__image_friday.css');
@import url('./column__image_sunday.css');
.column__image {
    position: relative;
    /* or 133% */
    /* main/white */
    color: #FFFFFF;
    background-color: royalblue;
    border: 1px solid red;
}