.about-author__title {
    position: relative;
    font-family: Roboto Slab, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    margin-top: 0px;
    margin-bottom: 0px;
    /* identical to box height, or 115% */
    /* main/black */
    color: #1A1B22;
    border: 1px solid red;
}