.analytics-diagram__name-axis {
    position: absolute;
    left: 208px;
    top: 158px;
    font-family: roboto-medium, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #B6BCBF;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .analytics-diagram__name-axis {
        left: 96px;
        top: 70px;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .analytics-diagram__name-axis {
        left: 157px;
        top: 119px;
    }
}