@import url('./__way/analytics-information__way.css');
@import url('./__title/analytics-information__title.css');
@import url('./__text/analytics-information__text.css');
.analytics-information {
    display: block;
    justify-content: space-around;
    max-width: 1440px;
    /* min-height: 426px; */
    padding-bottom: 94px;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .analytics-information {
        padding-top: 16px;
        padding-right: 16px;
        padding-bottom: 24px;
        padding-left: 16px;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .analytics-information {
        padding-top: 32px;
        padding-right: 40px;
        padding-bottom: 40px;
        padding-left: 40px;
    }
}