.project-information__title {
    position: relative;
    max-width: 712px;
    min-height: 46px;
    margin-top: 80px;
    margin-left: 104px;
    font-family: robotoslab-regular, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    /* identical to box height, or 115% */
    /* main/black */
    color: #1A1B22;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .project-information__title {
        margin-top: 16px;
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .project-information__title {
        margin-left: 40px;
        margin-top: 30px;
        margin-right: 40px;
    }
}