.project-information__title {
    position: relative;
    max-width: 712px;
    min-height: 46px;
    margin-top: 160px;
    margin-left: 104px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;
    /* identical to box height, or 115% */
    /* main/black */
    color: #1A1B22;
    border: 1px solid blue;
}