.search-result__not-found__text {
    position: relative;
    max-width: 356px;
    height: 48px;
    margin-top: 16px;
    margin-bottom: 0px;
    font-family: roboto-medium, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    text-align: center;
    /* simulator/gray/text */
    color: #B6BCBF;
}