.card__text {
    position: relative;
    /* max-width: 352px; */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow-y: hidden;
    margin-left: 24px;
    margin-top: 16px;
    font-family: roboto-regular, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* or 137% */
    /* main/black */
    color: #1A1B22;
}

@media screen and (min-width: 320px) and (max-width: 586px) {
    .card__text {
        margin-left: 16px;
        margin-right: 16px;
        height: 88px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media screen and (min-width: 587px) and (max-width: 786px) {
    .card__text {
        height: 88px;
        margin-left: 16px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}