.technologies__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-width: 120px;
    min-height: 153px;
    border: 1px solid red;
}