@import url('./__title/technologies__title.css');
@import url('./__container/technologies__container.css');
@import url('./__name/technologies__name.css');
@import url('./__image/technologies__image.css');
.technologies {
    display: flex;
    max-width: 1440px;
    min-height: 334px;
    background: #F5F6F7;
    align-items: baseline;
    justify-content: space-between;
    padding-right: 230px;
    padding-top: 80px;
    padding-left: 104px;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .technologies {
        flex-wrap: wrap;
        padding-right: 16px;
        padding-top: 32px;
        padding-bottom: 52px;
        padding-left: 16px;
    }
}

@media screen and (min-width: 537px) and (max-width: 768px) {
    .technologies {
        flex-wrap: wrap;
        padding-right: 56px;
        padding-top: 32px;
        padding-bottom: 40px;
        padding-left: 56px;
    }
}