.footer__container-link {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 384px;
    margin-right: 48px;
    margin: center;
}

@media screen and (min-width: 320px) and (max-width: 536px) {
    .footer__container-link {
        order: 0;
        flex-direction: column;
        width: 50%;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 20px;
        align-items: flex-start;
    }
}